<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeviationForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeviationForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DeviationForm.Properties.Settings>
            <setting name="Left" serializeAs="String">
                <value>533</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>232</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>215</value>
            </setting>
            <setting name="Tables" serializeAs="String">
                <value>\\amstore-svr-02\shared\shared\general\tables.json</value>
            </setting>
            <setting name="FormDir" serializeAs="String">
                <value>\\amstore-svr-02\shared\shared\general\deviation forms</value>
            </setting>
            <setting name="dbLocation" serializeAs="String">
                <value>s:\shared\general\dev_req.accdb</value>
            </setting>
        </DeviationForm.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DeviationForm.Properties.Settings>
            <setting name="TableHash" serializeAs="String">
                <value>59eb794c5ff57e5b118f20b10b2fda57e8d2e8fc</value>
            </setting>
            <setting name="dbProvider" serializeAs="String">
                <value>Microsoft.ACE.OLEDB.12.0</value>
            </setting>
            <setting name="devEmail" serializeAs="String">
                <value>kcjuntunen@amstore.com</value>
            </setting>
        </DeviationForm.Properties.Settings>
    </applicationSettings>
</configuration>